 # **Assignment-1**

 ## Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
#String
str1 = "Hello world"
list1 = ['Hello', 'world', 1, 2, 'python', ['PW', "Skills"], 23.23]
float1 = 12.23
tuple1 = ('Hello', 'world', 1, 2, 'python', ['PW', "Skills"], 23.23)

## Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘        
(ii) var2 = ‘[ DS , ML , Python]’     
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]     
(iv) var4 = 1.

What will be the data type of the above given variable.

 ## Answers: 
var1 = string
var2 = string
var3 = list
var4 = float

In [5]:
var1 = ''
type (var1)

str

In [8]:
var2 = '[DS , ML , Python]'
type (var2)

str

In [11]:
var3 = ['DS', 'ML', 'Python']
type (var3)

list

In [12]:
var4 = 1.
type(var4)

float

## Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

/ is devison operator  
it gives the division of the two numbers

In [14]:
12/13

0.9230769230769231

% is a madulo/modulus operator it gives the reminder after dividing the two numbers

In [16]:
13%12

1

// is a Floor divison operator it gives the quotient after dividing the numbers

In [18]:
25//12

2

** Exponentiation operator, it gives the exponent of the number

In [19]:
2**3

8

## Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [20]:
list1 = ['Hello', 'world', 1, 2, 'python', ['PW', "Skills"], 23.23, {'Hi':"Hello"}, 25, True]

In [22]:
for i in list1:
    print (i, type(i))

Hello <class 'str'>
world <class 'str'>
1 <class 'int'>
2 <class 'int'>
python <class 'str'>
['PW', 'Skills'] <class 'list'>
23.23 <class 'float'>
{'Hi': 'Hello'} <class 'dict'>
25 <class 'int'>
True <class 'bool'>

## Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [25]:
a = 100
b = 20
while a%b ==0:
    print ("A is divisible by B by {} times".format(a//b))
    break

A is divisible by B by 5 times

## Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [26]:
list1 = list(range(25))
for i in list1:
    if i%3==0:
        print (i)

0
3
6
9
12
15
18
21
24

## Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

Mutable means item level assignment is possible, at element we can assign the new values.

In [27]:
list1 = ['Hello', 'world', 1, 2, 'python', ['PW', "Skills"], 23.23, {'Hi':"Hello"}, 25, True]
print ("Original list ", list1)
list1[2] = "ML"
print ("Updated list", list1)

Original list  ['Hello', 'world', 1, 2, 'python', ['PW', 'Skills'], 23.23, {'Hi': 'Hello'}, 25, True]
Updated list ['Hello', 'world', 'ML', 2, 'python', ['PW', 'Skills'], 23.23, {'Hi': 'Hello'}, 25, True]

immutable means item level assignment is not possible, at element level iswe can assign the new values.